/* ================ General Header ==================*/

.header-tabs {
    margin-right: 5px;
    float: right;
    font-weight: 100;
  }

.btn-no-click {
    /* btn formatting */
    border-radius: 0;
    margin-left: -1px;
    position: relative;
    float: left;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
}

/* ================== Matchday Component ================ */

#my-matches {
    margin: 25px 12.5px 0px 30px;
    font-weight: 900;
}

#my-players {
    margin: 25px 0px 0px 12.5px;
    font-weight: 900;
}

#matchday-players {
    width: 100%;
}
#matchday-matches {
    width: 100%;
}
  
#matchday-header-container {
    border-bottom: #dddddd solid 1px;
    margin-bottom: 10px;
    width: 100%;
    font-size: 20px;
    padding-top:10px;
}

.team-icon-img {
    width: 100%;
    max-height: 120%;
}

/* ================== Match Component ================ */

#match-container {
    width: 100%;
}

#match-score-container {
    width: 100%;
    height: 50px;
}

#match-score-container.li {
    
}

.match-info {
    padding-top: 1.7%;
    height: 100%;
    font-size: 15px;
}

.team-icon {
    width: 8.5%;
    height: 100%;
}

.team-name {
    font-weight: 100;
    width: 30%;
}

.team-lineup {
    padding-left: 1%;
    padding-right: 1%;
    margin-bottom: 10px;
    border: 0;
}

.team-lineup :first-child {
    border-top: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.team-lineup :last-child {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}


.score {
    width: 6.18%;
    padding-top: 1%;
    font-size: 24px;
    font-weight: 500;
    background-color: #f3f3f3;
    border-right: none;
}

#match-time {
    text-align: center;
    width: 11.25%;
    font-weight: 100;
}

  
/* ================= FollowedPlayer Component ================ */

#player-container {
    width: 100%;
    height: 50px;
}

.player-info {
    height: 100%;
    font-size: 14px;
    padding-top: 4%;
    font-weight: 100;
}

#nt-team-icon {
    width: 15%;
    height: 100%;
}

#club-team-icon {
    width: 15%;
    height: 100%
}

#name {
    width: 32.5%;
    padding: 1%;
    padding-top: 3.5%;
}

#opponent {
    width: 32.5%;
    font-weight: 500;
    font-size: 14px;
    padding: 1%;
    padding-top: 3.5%;
}

#gametime {
    width: 20%;
    font-weight: 100;
    font-size: 14px;
    text-align: center;
    padding: 1%;
    padding-top: 3.5%;
}

#player-separator {
    height: 10px;
}
