#player-info-list {
    margin-top: 30px;
    width: 90%;
    margin-right: 5%;
    margin-left: 5%;
  }
  
  .player-columns {
    width: 48%;
    margin-left: 13px;
    margin-right: 5px;
  }
  .info-item {
    height: 40px;
  }
  
  .info-item :first-child {
    float: left;
    font-weight: 100;
  }
  .info-item :last-child {
    float: right;
  }