#league-header {
    height: 260px;
    max-width: 100%;
    padding-left: 50px;
    background-color: #eee;
    margin-bottom: 0px;
  }

#league-image-container {
    width: 20%;
    float: left;
}

#league-image {

}

#league-overview {
    float: left;
    width: 75%;
    height: 100%;
}

#league-name.display-3 {
    font-size: -webkit-xxx-large;
    font-weight: 600;
    margin-bottom: 25px;
    width: 600px;
}

#team-dropdown-button {
    width: 150px;
    width: 150px;
    background-color: #fde300;
    font-weight: 100;
    border: white;
    border-radius: 0%;
    box-shadow: 1px 1px 1px 1px #e6e6e6;
}

#team-dropdown-menu {
    position: absolute;
    top: unset;
    left: unset;
    float: none;
}

.dropdown-menu>li>a {
    font-weight: 100;
}