#player-header {
    height: 275px;
    max-width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 20px;
  }
  
  #player-header-container {
    margin-left: 45px;
    padding-left: 0px;
    padding-right: 55px;
    height: 100%;
  }

  #player-header-flag {
    vertical-align: top;
    height: 80%;
    width: 80px;
  }

  #player-header-nation {
    height: 80%;
    display: inline-block;
    font-size: 18px;
    text-align: center;
    font-weight: 100;
  }
  
  #player-image {
    border-radius: 50%;
    height: 100%;
    width: 100%;
  }
  
  #player-image-container {
    width: 235px;
    height: 100%;
    float: right;
    margin-left: 20px;
  }
  
  #player-info-container {
    margin-left: 45px;
    height: 100%;
  }
  
  #player-info-container p {
    font-size: 30px;
    margin-bottom: 20px;
  }
  
  #player-name.display-3{
    font-size: -webkit-xxx-large;
    font-weight: 600;
    margin-bottom: 10px;
  }
  
  #player-club-country {
    width: 100%;
    height: 40%;
  }
  
  #player-club-country img {
    height: 80%;
    margin-right: 25px;
  }

  @media screen and (max-width: 1000px) {
    #player-image { display:none }
    #player-info-container { overflow-x: hidden}
}